pandas==1.5.2
beautifulsoup4==4.11.1
pyyaml==6.0
numpy==1.23.5
opencv-python==4.7.0.72
fastapi==0.101.0
uvicorn==0.22.0
openai==0.27.6
orjson==3.8.11
zhconv==1.4.3
openpyxl==3.1.2
aiohttp==3.8.4
pygsheets==2.0.6
Pillow==9.4.0
SQLAlchemy==1.4.27
lxml==4.9.3
psutil==5.9.5
pydantic==2.1.1
pydantic-settings==2.0.2
pydantic_core==2.4.0